{% load staticfiles %}
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel = "stylesheet" href = "{%static 'css/blog.css' %}">
		<title>그 소문 들었음?</title>
	</head>
	<body>
		<div>
			<a href="https://ko.wikipedia.org/wiki/%EC%97%B0%EA%B0%9C%EC%86%8C%EB%AC%B8">연개소문</a>
		</div>
		<div>
		{% for post in posts %}
			<h1><a href = "https://kr.battle.net/heroes/ko">{{ post.title }}</a></h1>
			<p>{{ post.text|linebreaksbr }}</p>
			<p>published: {{ post.published_date }} by {{ post.author }}</p>
		{% endfor %}
		</div>
	</body>
</html>